@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-indie-flower: 'Indie Flower', cursive;
  --font-inter: 'Inter', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #1B2316;
  color: white;
  font-family: "Inter", sans-serif;
}

.blur-style {
  /* background-color: #bab8b813; */
  background: linear-gradient(145deg,
      rgba(150, 150, 150, 0.108) 0%,
      rgba(127, 127, 127, 0.079) 50%,
      rgba(72, 72, 72, 0.107) 100%
    );
  backdrop-filter: blur(20px)
}

.hero-curvy-card {
  clip-path: path("M 145 13 C 128 3 120 1 105 1 C 38 0 0 37 1 110 L -1 516 C 0 627 22 644 164 644 L 342 645 C 496 644 513 626 512 512 L 512 110 C 512 36 478 0 401 0 C 372 3 366 8 352 12 C 342 16 332 21 325 23 C 290 40 205 40 167 24");
}

.trending-curvy-card {
  /* background: linear-gradient(145deg,
      rgba(150, 150, 150, 0.108) 0%,
      rgba(127, 127, 127, 0.079) 50%,
      rgba(72, 72, 72, 0.107) 100%
    ); */
 
  clip-path: path("M 145 13 C 118 3 113 1 92 0 C 33 0 0 30 0 108 L 0 523 C 0 605 49 645 133 645 L 373 645 C 474 645 512 609 512 518 L 513 94 C 513 34 490 0 418 0 C 396 1 379 6 357 11 L 320 20 C 271 32 217 31 169 19");
}

.review-curvy-card {
  clip-path: path("M 144 9 C 118 3 113 1 92 0 C 33 0 0 30 0 108 L 0 370 C -1 446 48 480 122 480 L 378 480 C 478 480 510 444 510 368 L 513 94 C 513 35 484 0 418 0 C 392 1 379 6 352 10 L 320 16 C 270 24 218 25 174 15");
}


/* These for controlling the brackets (in trendy plants) */
.bracket-box {
  position: relative;
  padding: 20px 20px;
  color: white;
  font-family: sans-serif;
  display: inline-block;
}

.bracket-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  border-top: 7px solid #d0b664;
  border-left: 7px solid #d0b664;
  opacity: 0.5;
  border-top-left-radius: 12px;
}

.bracket-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 45px;
  opacity: 0.5;
  border-bottom: 7px solid #d0b664;
  border-right: 7px solid #d0b664;
  border-bottom-right-radius: 12px;
}

@media (max-width: 1000px) {

  .bracket-box {
    padding: 15px 15px;
  }

  .bracket-box::before {
    width: 35px;
    height: 35px;
    border-top: 4px solid #d0b664;
    border-left: 4px solid #d0b664;
  }

  .bracket-box::after {
    width: 35px;
    height: 35px;
    border-bottom: 4px solid #d0b664;
    border-right: 4px solid #d0b664;
  }
}